@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
:root {
  --dark: #07070A;
  --medium: #24272B;
  --light: #4A525A;
  --highlight1: #004BA8;
  --highlight2: #3E78B2;
  --highlight3: #ff4e65;
  --text: #ecedff;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--dark);
  margin: 0px 0px;
}
main {
  margin: 0px auto;
  display: flex;
  flex-flow: row nowrap;
}
.section {
  height: calc(100vh - 40px);
  background-color: var(--medium);
  width: 33%;
  margin: 20px;
}
input[type=text] {
  color: var(--text);
  border: none;
  border-bottom: 2px var(--light) solid;
  background-color: transparent;
}
input[type=text]:focus {
  outline: none;
  border-bottom: 2px var(--highlight2) solid;
}

/*ADDING NEW ITEM*/
#list-controls {
  display: flex;
  justify-content: space-between;
  height: 25px;
  margin:10px;
}
#list-controls input[type=text]{
  width: calc(100% - 40px);
}
#list-controls input[type=button]{
  padding: 0px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  height: 25px;
  width: 25px;
  font-size: smaller;
  background-color: var(--highlight2);
  color: var(--text);
  border: 0px;
  font-weight: 800;
  border-radius: 0px;
}
/* SCROLL */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  display: none; 
}
::-webkit-scrollbar-thumb {
  background: var(--light); 
}
::-webkit-scrollbar-thumb:hover {
  background: var(--highlight2); 
}
/*RECIPE LIST*/
#recipes ul {
  padding: 0px;
  margin:10px;
  list-style: none;
  height:calc(100% - 60px);
  overflow:hidden;
  overflow-y:scroll;
}
#recipes ul li {
  font-size: small;
  color: var(--text);
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  line-height: 40px;
  align-items: center;
  margin: 3px 10px 5px 0px;
  background-color: var(--light);
}
#recipes ul li input{
  padding: 0px;
  display: inline-block;
  line-height: 100%;
  text-align: center;
  cursor: pointer;
  width:20px;
  height:20px;
  font-size: smaller;
  background-color: var(--highlight3);
  color: var(--text);
  border: 0px;
  font-weight: 800;
  border-radius: 0px;
}

/*CRAFTING*/
#workbench {
  align-items: center;
  margin: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#output {
  height: 5vw;
  border: 1px var(--text) solid;
}
#crafting {
  width: 50%;
  display: grid;
  grid-template-columns: auto auto auto;
}
.item-slot {
  image-rendering: pixelated;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1;
  border: 1px var(--text) solid;
  box-shadow: 5px 6px rgba(0, 0, 0, 0.616);
}
.item-slot:hover{
  background-color: var(--light);
}

/*ITEMS*/
#items {
  max-height: calc(100% - 20px);
  overflow: hidden;
  overflow-y: scroll;
  margin: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
}
.btn {
  padding: 10px;
  display: inline-block;
  text-align: center;
  font-size: smaller;
  background-color: var(--highlight2);
  color: var(--text);
  border: 0px;
  font-weight: 800;
  cursor: pointer;
  border-radius: 0px;
}
#controls {
  margin:10px;
  margin-top:40px;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-flow: column nowrap;
}