/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #2a0457;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #333;
}

.container {
  text-align: center;
  background: #fff;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 100%;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

nav ul {
  list-style: none;
}

nav ul li {
  margin: 10px 0;
}

nav ul li a {
  text-decoration: none;
  color: #007BFF;
  font-size: 1.1em;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #0056b3;
}
